@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.mega-tile-menu {
  position: relative;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: stretch;
  flex-wrap: wrap !important;

  .tile-button,
  .simple-button {
    border: 0px solid $gray-30;
    padding: $spacing-05;
    overflow: hidden;
    // border: 2px #fff solid;
    min-height: 7rem;
    @include breakpoint('md') {
      min-height: 7rem;
    }
    @include breakpoint('lg') {
      min-height: 9.875rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    user-select: none;
    @include type-style('heading-compact-02');
    .title-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
      }
    }
    .desc {
      color: $gray-50;
      @include type-style('legal-01');
    }
    
    .expand-btn {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $blue-60;
      transition: all 0.4s;
      @include type-style('body-compact-02');
      .chevron {
        margin-left: 0.5rem;
        width: 1.25rem;
        height: 1.25rem;
        transition: all 0.4s;
      }
      .chevron-active {
        rotate: 180deg;
      }
    }
    .expand-btn-active {
      color: $gray-100 !important;
    }
    .expand-btn-bottom {
      @include breakpoint-down('lg') {
        display: none;
      }
    }
    .expand-btn-top {
      width: 100%;
      margin-top: 0;
      @include breakpoint('lg') {
        display: none;
      }
    }
  }
  .tile-button-active {
    background-color: $gray-10;
    border-color: $gray-20;
    border-bottom-color: $gray-10 !important;
    transition: all 0.333s;
  }
  
  .simple-button {
    background-color: $blue-60;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    overflow: hidden;
    // border: 2px #fff solid;
    min-height: 7rem;
    @include breakpoint('md') {
      min-height: 7rem;
    }
    @include breakpoint('lg') {
      min-height: 9.875rem;
    }
    .button-title {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 100%;
      gap: $spacing-05 * 0.5;
      color: $white;
      text-decoration: underline;
      @include type-style('body-compact-02');
      
      .arrow {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
  .tile-content-parent {
    width: 100%;
    overflow: hidden;
    transition: all 0.4s;
  }
  .tile-content-parent-active {
    background-color: $gray-10;
  }
  .tile-content {
    padding: $spacing-05;
  }
  .tile-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 100%;
    .tile-content-title {
      @include type-style('heading-compact-02');
      color: $gray-100;
    }
    .tile-content-sections {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
      grid-gap: 2rem 0rem;
      color: $gray-60;

      .tile-content-section {
        width: 100%;
        grid-auto-columns: auto;
        margin-top: 1.63rem;
        .tile-content-section-title {
          color: $blue-60;
        }
        .tile-content-section-points {
          margin-top: $spacing-05;
          padding: $spacing-02;
          li {
            @include type-style('body-01');
            &:before {
              content: '• ';
              font-size: 9pt;
              margin-right: 3px;
            }
          }
        }
      }
      @include breakpoint('md') {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
      }
      @include breakpoint('lg') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3rem 4.5rem;
      }
    }
    .tile-content-button-container {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.69rem;
      .tile-content-tryItNow {
        padding: 0.5rem 0.81rem;
        @include type-style('body-compact-01');
        color: $link-primary;
        cursor: pointer;
        @include breakpoint('lg') {
          display: none;
        }
      }
      .tile-content-button {
        width: 15rem;
        @include breakpoint-down('md') {
          width: 7.5rem !important;
        }
      }
      @include breakpoint('md') {
        justify-content: flex-end;
      }
    }
  }
  .bottom-border {
    border-bottom-width: 1px;
  }
  .top-border {
    border-top-width: 1px;
  }
  .right-border {
    border-right-width: 1px;
  }
  .left-border {
    border-left-width: 1px;
  }
}
