@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;

#file-uploader-w-thumbnails {
  --thumbnail-url: "";
  position: relative;
  .cds--form-item {
    @include breakpoint("md") {
      display: inline-block;
    }
    button {
      margin-bottom: 1rem;
      @include breakpoint("md") {
        position: absolute;
        left: 8rem;
        bottom: 0;
        margin-bottom: 0;
      }
    }
    .cds--file-container {
      position: relative;
      float: left;
      margin-top: 0;
      width: 7rem !important;
      height: 7rem !important;

      background-image: var(--thumbnail-url);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      span {
        width: 100%;
        height: 100%;
        background-color: #00000050;

        overflow: hidden;
        p {
          opacity: 0;
          user-select: none;
        }
        .cds--file__state-container {
          position: absolute !important;
          display: block !important;
          left: 50%;
          top: 50%;
          padding: 0;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.368);
          button {
            width: 50%;
            height: 50%;
            position: absolute !important;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("/images/trash-can.svg");
            background-position: center;
            background-size: 70%;
            background-repeat: no-repeat;
          }
          svg {
            opacity: 0;
            content: "";
          }
        }
      }
    }
  }
}
