@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.swiper-parent-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  .heading {
    margin-bottom: 0.25rem;
    color: $gray-100;
    @include type-style('heading-06');
  }
  .desc {
    margin-bottom: $spacing-05 * 2;
    color: $gray-70;
    @include type-style('body-compact-02');
  }
  .swiper-container {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;

    * {
      pointer-events: all;
    }

    .swiper {
      position: absolute;
      // left: 0px;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      pointer-events: all;
      // transition: all 0.43s;
      .swiper-grid {
        flex: 0 0 auto;
        height: min-content;
        // background-color: $blue-60;
        color: $white;
      }
      .swiper-grid-col {
        // background-color: $gray-60;
      }
    }
  }

  .swiper-buttons-container {
    margin-top: 1.5625rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1px;

    .chevron-icon,
    .chevron-icon-disabled {
      width: 34px;
      height: 34px;
      padding: 9px;
      background-color: $gray-10;
      cursor: pointer;
    }
    .chevron-icon {
      color: $blue-60;
    }
    .chevron-icon-disabled {
      color: $gray-50;
    }
  }
}
