@use '@carbon/ibm-products/scss';

// @use '../_carbon-for-ibm-cloud-styles';
@use 'carbon-for-ibm-cloud/src/components/Card';

// @use '@carbon/styles'; 
@use '@carbon/react'; // since '@carbon/styles' was used, there's no need to write this line.

@use '@carbon/type';
@use '@carbon/colors';

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
  enable-css-custom-properties: true,
);

// ---------------------------------------------
@use './components/TutorialHeader/tutorial-header';

.helper-text {
  @include type.type-style('helper-text-01');
  margin-bottom: 1rem;
}
