@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.mega-tabbed-menu {
  position: relative;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-wrap: wrap !important;

  .tab-button {
    border: 0px solid $gray-20;
    padding: $spacing-05;
    // border: 2px #fff solid;
    height: 7rem;
    @include breakpoint('md') {
      height: 7rem;
    }
    @include breakpoint('lg') {
      height: 9.875rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;
      @include type-style('heading-compact-02');

      .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
    .desc {
      @include type-style('legal-01');
    }
  }
  .tab-button-active {
    border-color: $gray-20;
    background-color: $gray-20;
    transition: all 0.333s;
  }
  .tab-content {
    width: 100%;
    overflow: hidden;
    transition: all 0.4s;
  }
  .tab-content-active {
    background-color: $gray-20;
  }
  .bottom-border {
    border-bottom: 1px solid $gray-20;
  }
  .top-border {
    border-top: 1px solid $gray-20;
  }
  .right-border {
    border-right: 1px solid $gray-20;
  }
  .left-border {
    border-left: 1px solid $gray-20;
  }
}
