@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;

.mega-tabbed-menu {
  position: relative;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-wrap: wrap !important;

  .tab-button {
    border: 0px solid $gray-20;
    padding: $spacing-05;
    overflow: hidden;
    // border: 2px #fff solid;
    min-height: 7rem;
    @include breakpoint("md") {
      min-height: 7rem;
    }
    @include breakpoint("lg") {
      min-height: 9.875rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    user-select: none;
    @include type-style("heading-compact-02");
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;

      .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
    .desc {
      color: $gray-50;
      @include type-style("legal-01");
    }
    .open-text {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $blue-50;
      transition: all 0.4s;
      .chevron {
        margin-left: 0.5rem;
        width: 1.25rem;
        height: 1.25rem;
        transition: all 0.4s;
      }
      .chevron-active {
        rotate: 180deg;
      }
    }
    .open-text-active {
      color: $gray-100 !important;
    }
  }
  .tab-button-active {
    border-color: $gray-20;
    background-color: $gray-20;
    transition: all 0.333s;
    // border-bottom: 0 !important;
  }
  .tab-content-parent {
    width: 100%;
    overflow: hidden;
    transition: all 0.4s;
  }
  .tab-content-parent-active {
    background-color: $gray-20;
  }
  .tab-content {
    padding: $spacing-05;
  }
  .tab-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 100%;
    .tab-content-title {
      @include type-style("heading-compact-02");
      color: $gray-100;
    }
    .tab-content-sections {
      display: grid;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
      grid-gap: 2rem 0rem;

      @include breakpoint("md") {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem 1.62rem;
      }
      @include breakpoint("lg") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 4.5rem 4.5rem;
      }
    }
    .tab-content-section {
      width: 100%;
      grid-auto-columns: auto;
      margin-top: 1.63rem;
      .tab-content-section-title {
        color: $blue-50;
      }
      .tab-content-section-points {
        margin-top: $spacing-05;
        padding: $spacing-02;
        li {
          @include type-style("body-01");
          &:before {
            content: "• ";
            font-size: 9pt;
          }
        }
      }
    }
  }
  .bottom-border {
    border-bottom: 1px solid $gray-20;
  }
  .top-border {
    border-top: 1px solid $gray-20;
  }
  .right-border {
    border-right: 1px solid $gray-20;
  }
  .left-border {
    border-left: 1px solid $gray-20;
  }
}
